@import '_variables.scss' ;

li{
    list-style:none ;
    text-align: center;
    
}

.main-footer{
    display: flex;
    flex-direction: row;
    height: max-content;
}
.menu-footer{
    background-color: $bg-color-1;
    color: $color-1;
    display: flex;
    flex-direction:row ;
    width: 100%;
    justify-content: space-around;
    text-align: center;
}

