@import '_variables.scss';

//General

h1 {
    background-color: $bg-color-active-1;
    border-radius: 3px;
    color: $color-1;
    text-align: center;
    font-weight: 500;
    
    

}

p {
    margin: 0;
    background-color: $bg-color-2;
    border-radius: 5px;
}




//HomeView

.contain {
    margin: 20px;
}

.encabezado {
    display: grid;
    grid-template-columns: 20% 1fr;
    gap: 20px;

}

.title-descripcion{
    margin-top: 0;
}

.encabezado .descripcion {

    width: 100%;
    margin-right: 40px;


}

.foto img {

    display: block;
    width: 100%;
    border-radius: 5px;

}



.desarrollo {
    display: grid;
    grid-template-columns: 20% 1fr 1fr;
    gap: 20px;

}


@media (max-width:600px){

    .encabezado{
        display: block;

    }
    .title-descripcion{
        margin-top: 20px;
    }


    .desarrollo{
        display: block;
    }
}



//Inicio View
.container{
    margin: 20px;
}


//Login View

.sing-in {
    margin: 20px;
}