@import '_variables.scss';

//General

h1 {
    background-color: $bg-color-active-1;
    border-radius: 3px;
    color: $color-1;
    text-align: center;
    font-weight: 500;
    margin: 0 0 10px 0;
    
    

}

p {
    margin: 0 0 3px 0;
    padding: 5px;
    background-color: $bg-color-2;
    border-radius: 5px;
}




//HomeView

.contain {
    margin: 20px;
}

.encabezado {
    display: grid;
    grid-template-columns: 15% 1fr 1fr;
    gap: 20px;

}


.foto img {

    width: 100%;
    border-radius: 5px;
    border-radius: 50%;

}



.desarrollo {
    display: grid;
    grid-template-columns: 15% 1fr 1fr;
    gap: 20px;

}


@media (max-width:800px){

    .foto{
        padding-left: 10%;
        padding-right: 10%;
    }
    .foto img { 
        width:100%;
        border-radius: 5px;
        border-radius: 50%;
    
    }

    .encabezado{
        display: block;

    }
    .title-descripcion{
        margin-top: 20px;
    }


    .desarrollo{
        display: block;
    }
}



//Inicio View
.container{
    margin: 20px;
}


//Login View

.sing-in {
    margin: 20px;
}